/*
 *  Components - Button
 */


.c-button {
  --color-button-primary-bg: #5A47B8;
  --color-button-primary-bg-hover: #5847af;
  --color-button-primary-fg: #FFFFFF;
  --color-button-primary-border: #342867;
  --color-button-primary-border-hover: #46378F;
  --color-button-primary-shadow: #46378F;

  background-color: var(--color-button-primary-bg);
  border-color: var(--color-button-primary-border);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 2px 0 var(--color-button-primary-shadow);
  color: var(--color-button-primary-fg);
  cursor: pointer;
  font-size: .85rem;
  letter-spacing: .1em;
  padding: .5rem .8rem;
  text-transform: uppercase;
  transition: all .25s;
}

.c-button:active {
  box-shadow: 0 0px 0 var(--color-button-primary-shadow);
  transform: translateY(2px);
}

.c-button:focus {
  outline: none;
}

.c-button:hover {
  background-color: var(--color-button-primary-bg-hover);
}
