/*
 *  Components - Work List
 */


.c-work-list__item {
  box-shadow: 0 0 0 1px var(--color-fg-subtle-alternate);
  display: grid;
  grid-template-rows: auto 1fr;
  //padding-bottom: 1.5rem;
}

.c-work-list__item-preview {
  display: grid;
}

.c-work-list__item-info {
  background-color: var(--color-bg);
  padding-top: 3rem;
}

@media (min-width:45em) {
  
  .c-work-list__item {
    margin-left:  5rem;
    margin-right: 5rem;
  }
  
  .c-work-list__item-info {
    padding-bottom: 1.5rem;
    padding-left:  1.5rem;
    padding-right: 1.5rem;
    padding-top:   1.5rem;
  }

  .c-work-list__item-preview {
    grid-auto-flow: column
  }
  
}
