/*
 *  Elements - Base
 */


/* Root */

:root {
  --theme-dark-bg: #674ECA;
  --theme-dark-text: #F1EDFF;
  --theme-light: #F1EDFF;
  --theme-muted: #777898;
  --theme-font-primary: 'gangster_grotesklight';
  --theme-font-accent: 'league_monoregular';
  --theme-font-display: 'syneextrabold';
  --theme-font-heading: 'synebold';
}

body {
  background-color: var(--theme-dark-bg);
  color: var(--theme-dark-text);
  font-family: var(--theme-font-primary);
}
