/*
 *  Theme
 */


/* Root */

:root {
  --theme-font-primary: 'gangster_groteskregular';
  --theme-font-accent: 'league_monoregular';
  --theme-font-display: 'syneextrabold';
  --theme-font-heading: 'synebold';

  --theme-dark-bg: #6E4ECE;
  --theme-dark-fill: #F1EDFF;
  --theme-dark-accent: #95D6EB;
  --theme-dark-overlay: rgba(0,0,0,0.04);

  --theme-light-bg: #B3B3E7;
  --theme-light-fill: #342469;
  --theme-light-accent: #6E4ECE;
  --theme-light-overlay: rgba(255,255,255,.04);

  --theme-bg: var(--theme-dark-bg);
  --theme-fill:var(--theme-dark-fill);
  --theme-accent: var(--theme-dark-accent);
  --theme-overlay: var(--theme-dark-overlay);

  --theme-default-opacity: 1;
  --theme-alt-opacity: 0;
}

.is-in-light-mode {
  --theme-bg: var(--theme-light-bg);
  --theme-fill:var(--theme-light-fill);
  --theme-accent: var(--theme-light-accent);
  --theme-overlay: var(--theme-light-overlay);

  --theme-default-opacity: 0;
  --theme-alt-opacity: 1;
}

body {
  background-color: var(--theme-bg);
  color: var(--theme-fill);
  font-family: var(--theme-font-primary);
}
