/*
 *  Utilites
 */


/* Text */

h1, h2, h3, h4, h5, h6,
.u-text-medium,
.u-text-large,
.u-text-huge,
.u-text-gigantic,
.u-text-enormous {
  font-family: var(--theme-font-heading);
  font-weight: 600;
  // letter-spacing: .025em;
}

h5, h6,
.u-text-medium,
.u-text-large {
  font-weight: 300;
}

@media only screen and ( max-width: 768px ) {
  
  h1,h2,h3,
  .u-text-enormous,
  .u-text-gigantic,
  .u-text-huge {
    font-size: 3rem;
    line-height: 1.3020833333;
  }

}

.u-text-accent::after {
  background-image: url('../images/squigle-green.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
  display: block;
  height: 8px;
  margin-top: 1rem;
  width: 67px;
}

a {
  color: inherit;
  text-decoration: none;
}


/* Backgrounds */

.u-background-theme-dark {
  background-color: var(--theme-dark);
}

.u-background-noise {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250' %3Cfilter id='noise' x='0%25' y='0%25' width='100%25' height='100%25'%3E%3CfeTurbulence baseFrequency='0.05' /%3E%3C/filter%3E%3Crect x='0' y='0' width='100%25' height='100%25' filter='url(%23noise)' fill='none'%3E%3C/svg%3E");
}


/* Filters */

.u-filter-trippy {
  mix-blend-mode: luminosity;
}


/* Animations */

@keyframes noise {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}
