/*
 *  Utilites
 */


/* Text */

h1, h2, h3, h4, h5, h6,
.u-text-medium,
.u-text-large,
.u-text-huge {
  font-family: var(--font-heading);
}

.u-text-gigantic,
.u-text-enormous,
.u-text-display {
  font-family: var(--font-display);
}

.u-text-title {
  font-family: var(--font-accent);
  font-size: .75rem;
  text-transform: uppercase;
}

.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-uppercase {
  text-transform: uppercase;
}

.u-text-outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-fg-primary);
}


/* Borders */

.u-border-top-accent-alternate {
  border-top: solid 1px var(--color-fg-subtle-alternate);
}

.u-border-bottom-accent-alternate {
  border-bottom: solid 1px var(--color-fg-subtle-alternate);
}

.u-border-vertical-accent-alternate {
  border-bottom: solid 1px var(--color-fg-subtle-alternate);
  border-top: solid 1px var(--color-fg-subtle-alternate);
}


/* Separators */

.u-separator-primary,
.u-separator-alternate {
  border: none;
  box-shadow: inset 0 0 0 1px var(--color-fg-subtle-primary);
  width: 100%;
}


/* Theme Fill */

.u-theme-fill {
  fill: var(--color-fg-primary);
}


/* Backgrounds & Overlays */

.u-bg-pattern-diagonal {
  background-image: linear-gradient(
    -45deg,
    transparent                       0.00%,
    transparent                      43.74%,
    var(--color-bg-pattern-primary)  43.75%,
    var(--color-bg-pattern-primary)  56.25%,
    transparent                      56.26%,
    transparent                     100.00%
  );
  background-repeat: repeat;
  background-position: 0 0;
  background-size: .275rem .275rem;
}

.u-bg-pattern-diagonal-tight,
.u-separator-primary {
  background-image: linear-gradient(
    -45deg,
    transparent                     000.00%,
    transparent                     037.49%,
    var(--color-bg-pattern-primary) 037.50%,
    var(--color-bg-pattern-primary) 062.5%,
    transparent                     062.51%,
    transparent                     100.00%
  );
  background-repeat: repeat;
  background-position: 0 0;
  background-size: .225rem .225rem;
}


.u-bg-noise,
.u-overlay-noise {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.u-bg-noise::before,
.u-overlay-noise::before {
  animation: noise .4s infinite;
  background-repeat: repeat;
  content: '';
  height: 200%;
  left: -50%;
  mix-blend-mode: multiply;
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
  top: -50%;
  width: 200%;
}

.u-bg-noise::before {
  background-color: var(--color-bg);
  background-image: url("/images/Noise-Main-Clear.svg");
  background-size: 400px auto;
  z-index: -1;
}

.u-overlay-noise::before {
  background-image: url("/images/Noise-Main-Clear.svg");
  background-size: 400px auto;
  z-index: 1;
}


/* Animations */

.u-animation-wave {
  animation: wave ease-in-out 3s infinite;
  transform-origin: 50% 80%;
}


/* Keyframes */

@keyframes noise {
   0.00% { transform: translate(0, 0) }
  49.99% { transform: translate(0, 0) }
  50.00% { transform: translate(-10%, 10%) }
  99.99% { transform: translate(-10%, 10%) }
}

@keyframes wave {
    0% { transform: rotate( -35deg) }
   50% { transform: rotate(  35deg) }
  100% { transform: rotate( -35deg) }
}
